In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

housing_df= pd.read_csv('WestRoxbury.csv')

In [2]:
housing_df.shape
housing_df.head()
print(housing_df)

      TOTAL VALUE    TAX  LOT SQFT   YR BUILT  GROSS AREA   LIVING AREA  \
0            344.2  4330       9965      1880         2436         1352
1            412.6  5190       6590      1945         3108         1976
2            330.1  4152       7500      1890         2294         1371
3            498.6  6272      13773      1957         5032         2608
4            331.5  4170       5000      1910         2370         1438
...            ...   ...        ...       ...          ...          ...
5797         404.8  5092       6762      1938         2594         1714
5798         407.9  5131       9408      1950         2414         1333
5799         406.5  5113       7198      1987         2480         1674
5800         308.7  3883       6890      1946         2000         1000
5801         447.6  5630       7406      1950         2510         1600

      FLOORS   ROOMS  BEDROOMS   FULL BATH  HALF BATH  KITCHEN  FIREPLACE  \
0         2.0      6          3          1          1        1          0
1         2.0     10          4          2          1        1          0
2         2.0      8          4          1          1        1          0
3         1.0      9          5          1          1        1          1
4         2.0      7          3          2          0        1          0
...       ...    ...        ...        ...        ...      ...        ...
5797      2.0      9          3          2          1        1          1
5798      2.0      6          3          1          1        1          1
5799      2.0      7          3          1          1        1          1
5800      1.0      5          2          1          0        1          0
5801      2.0      7          3          1          1        1          1

     REMODEL
0       None
1     Recent
2       None
3       None
4       None
...      ...
5797  Recent
5798    None
5799    None
5800    None
5801    None

[5802 rows x 14 columns]

In [3]:
housing_df.columns = [s.strip().replace(' ','_') for s in housing_df.columns]

#Descriptive Stats
print('Number of rows', len(housing_df['TOTAL_VALUE']))
print('Mean of Total_Value', housing_df['TOTAL_VALUE'].mean())
housing_df.describe()

housing_df.columns
housing_df.REMODEL = housing_df.REMODEL.astype('category')
housing_df.REMODEL.cat.categories
housing_df.REMODEL.dtype

Number of rows 5802
Mean of Total_Value 392.6857149258877

CategoricalDtype(categories=['None', 'Old', 'Recent'], ordered=False)

In [4]:
missingRows = housing_df.sample(10).index
housing_df.loc[missingRows,'BEDROOMS']= np.nan
print('no of rows with vallid bedroom after setting to nan',housing_df['BEDROOMS'].count())

reduced_df = housing_df.dropna()
print('no of rows after removing the missing values: ',len(reduced_df))

medianBedroom = housing_df['BEDROOMS'].median()
housing_df.BEDROOMS = housing_df.BEDROOMS.fillna(value=medianBedroom)
print('no of rows with vallid bedroom after filling na values',housing_df['BEDROOMS'].count())

no of rows with vallid bedroom after setting to nan 5792
no of rows after removing the missing values:  5792
no of rows with vallid bedroom after filling na values 5802

In [11]:
from sklearn import preprocessing
df = housing_df.copy()
df.head()

exclude = df.loc[:, df.columns != 'REMODEL']
exclude.head()

norm_data = preprocessing.normalize(exclude, axis=0)
norm_df = pd.DataFrame(norm_data,columns=[exclude.columns])

print('Original Data \n',exclude.head(10))
print('Normalized Data \n',norm_df.head(10))

Original Data
    TOTAL_VALUE   TAX  LOT_SQFT  YR_BUILT  GROSS_AREA  LIVING_AREA  FLOORS  \
0        344.2  4330      9965      1880        2436         1352     2.0
1        412.6  5190      6590      1945        3108         1976     2.0
2        330.1  4152      7500      1890        2294         1371     2.0
3        498.6  6272     13773      1957        5032         2608     1.0
4        331.5  4170      5000      1910        2370         1438     2.0
5        337.4  4244      5142      1950        2124         1060     1.0
6        359.4  4521      5000      1954        3220         1916     2.0
7        320.4  4030     10000      1950        2208         1200     1.0
8        333.5  4195      6835      1958        2582         1092     1.0
9        409.4  5150      5093      1900        4818         2992     2.0

   ROOMS  BEDROOMS  FULL_BATH  HALF_BATH  KITCHEN  FIREPLACE
0      6       3.0          1          1        1          0
1     10       4.0          2          1        1          0
2      8       4.0          1          1        1          0
3      9       5.0          1          1        1          1
4      7       3.0          2          0        1          0
5      6       3.0          1          0        1          1
6      7       3.0          1          1        1          0
7      6       3.0          1          0        1          0
8      5       3.0          1          0        1          1
9      8       4.0          2          0        1          0
Normalized Data
   TOTAL_VALUE       TAX  LOT_SQFT  YR_BUILT GROSS_AREA LIVING_AREA    FLOORS  \
0    0.011157  0.011158  0.019177  0.012742   0.010467    0.010184  0.015077
1    0.013374  0.013374  0.012682  0.013182   0.013354    0.014884  0.015077
2    0.010700  0.010699  0.014433  0.012809   0.009857    0.010327  0.015077
3    0.016162  0.016162  0.026505  0.013263   0.021621    0.019644  0.007539
4    0.010745  0.010746  0.009622  0.012945   0.010183    0.010831  0.015077
5    0.010937  0.010936  0.009895  0.013216   0.009126    0.007984  0.007539
6    0.011650  0.011650  0.009622  0.013243   0.013835    0.014432  0.015077
7    0.010386  0.010385  0.019244  0.013216   0.009487    0.009039  0.007539
8    0.010810  0.010810  0.013153  0.013270   0.011094    0.008225  0.007539
9    0.013271  0.013271  0.009801  0.012877   0.020701    0.022536  0.015077

      ROOMS  BEDROOMS FULL_BATH HALF_BATH   KITCHEN FIREPLACE
0  0.011031  0.011793  0.009391  0.016137  0.012836  0.000000
1  0.018384  0.015725  0.018783  0.016137  0.012836  0.000000
2  0.014708  0.015725  0.009391  0.016137  0.012836  0.000000
3  0.016546  0.019656  0.009391  0.016137  0.012836  0.014101
4  0.012869  0.011793  0.018783  0.000000  0.012836  0.000000
5  0.011031  0.011793  0.009391  0.000000  0.012836  0.014101
6  0.012869  0.011793  0.009391  0.016137  0.012836  0.000000
7  0.011031  0.011793  0.009391  0.000000  0.012836  0.000000
8  0.009192  0.011793  0.009391  0.000000  0.012836  0.014101
9  0.014708  0.015725  0.018783  0.000000  0.012836  0.000000

In [14]:

rescale_df = (exclude-exclude.min())/(exclude.max()-exclude.min())
scaler = MinMaxScaler()
rescale = pd.DataFrame(scaler.fit_transform(exclude),index=exclude.index, columns=exclude.columns)

print('Original Data \n',exclude.head(10))
print('Rescaled Data \n',rescale.head(10))

Original Data
    TOTAL_VALUE   TAX  LOT_SQFT  YR_BUILT  GROSS_AREA  LIVING_AREA  FLOORS  \
0        344.2  4330      9965      1880        2436         1352     2.0
1        412.6  5190      6590      1945        3108         1976     2.0
2        330.1  4152      7500      1890        2294         1371     2.0
3        498.6  6272     13773      1957        5032         2608     1.0
4        331.5  4170      5000      1910        2370         1438     2.0
5        337.4  4244      5142      1950        2124         1060     1.0
6        359.4  4521      5000      1954        3220         1916     2.0
7        320.4  4030     10000      1950        2208         1200     1.0
8        333.5  4195      6835      1958        2582         1092     1.0
9        409.4  5150      5093      1900        4818         2992     2.0

   ROOMS  BEDROOMS  FULL_BATH  HALF_BATH  KITCHEN  FIREPLACE
0      6       3.0          1          1        1          0
1     10       4.0          2          1        1          0
2      8       4.0          1          1        1          0
3      9       5.0          1          1        1          1
4      7       3.0          2          0        1          0
5      6       3.0          1          0        1          1
6      7       3.0          1          1        1          0
7      6       3.0          1          0        1          0
8      5       3.0          1          0        1          1
9      8       4.0          2          0        1          0
Rescaled Data
    TOTAL_VALUE       TAX  LOT_SQFT  YR_BUILT  GROSS_AREA  LIVING_AREA  FLOORS  \
0     0.214953  0.215015  0.197472  0.934858    0.220237     0.177220     0.5
1     0.276420  0.276448  0.123156  0.967181    0.311878     0.307628     0.5
2     0.202283  0.202300  0.143194  0.939831    0.200873     0.181191     0.5
3     0.353702  0.353740  0.281323  0.973148    0.574253     0.439707     0.0
4     0.203541  0.203586  0.088145  0.949776    0.211237     0.195193     0.5
5     0.208843  0.208872  0.091271  0.969667    0.177690     0.116196     0.0
6     0.228613  0.228659  0.088145  0.971656    0.327151     0.295089     0.5
7     0.193566  0.193585  0.198243  0.969667    0.189145     0.145455     0.0
8     0.205338  0.205372  0.128551  0.973645    0.240147     0.122884     0.0
9     0.273544  0.273591  0.090192  0.944804    0.545070     0.519958     0.5

      ROOMS  BEDROOMS  FULL_BATH  HALF_BATH  KITCHEN  FIREPLACE
0  0.272727     0.250       0.00   0.333333      0.0       0.00
1  0.636364     0.375       0.25   0.333333      0.0       0.00
2  0.454545     0.375       0.00   0.333333      0.0       0.00
3  0.545455     0.500       0.00   0.333333      0.0       0.25
4  0.363636     0.250       0.25   0.000000      0.0       0.00
5  0.272727     0.250       0.00   0.000000      0.0       0.25
6  0.363636     0.250       0.00   0.333333      0.0       0.00
7  0.272727     0.250       0.00   0.000000      0.0       0.00
8  0.181818     0.250       0.00   0.000000      0.0       0.25
9  0.454545     0.375       0.25   0.000000      0.0       0.00

In [16]:
from sklearn.model_selection import train_test_split

trainData, validData = train_test_split(housing_df, test_size=0.40)
print('Training: ', trainData.shape)
print('Validation: ', validData.shape)
print()

Training:  (3481, 14)
Validation:  (2321, 14)

In [20]:
#Fitting the regression model in traning data
from sklearn.linear_model import LinearRegression

housing_df= pd.read_csv('WestRoxbury.csv')
housing_df.columns = [s.strip().replace(' ','_') for s in housing_df.columns]
housing_df = pd.get_dummies(housing_df, prefix_sep ='_', drop_first=True)

#List of predictor and outcome
excludeColumns = ('TOTAL_VALUE','TAX')
predictors = [s for s in housing_df.columns if s not in excludeColumns]
outcome = 'TOTAL_VALUE'

X= housing_df[predictors]
y= housing_df[outcome]
train_X,valid_X,train_y,valid_y = train_test_split(X,y,test_size=0.4,random_state=1)

In [21]:
model=LinearRegression()
model.fit(train_X,train_y)


train_pred = model.predict(train_X)
train_results = pd.DataFrame({
    'TOTAL_VALUE':train_y,
    'PREDICTED': train_pred,
    'RESIDUAL': train_y-train_pred })

train_results.head()

      TOTAL_VALUE   PREDICTED   RESIDUAL
2024        392.0  387.726258   4.273742
5140        476.3  430.785540  45.514460
5259        367.4  384.042952 -16.642952
421         350.3  369.005551 -18.705551
1401        348.1  314.725722  33.374278

In [22]:
valid_pred = model.predict(valid_X)
valid_results = pd.DataFrame({
    'TOTAL_VALUE':valid_y,
    'PREDICTED': valid_pred,
    'RESIDUAL': valid_y-valid_pred })

valid_results.head()

      TOTAL_VALUE   PREDICTED   RESIDUAL
1822        462.0  406.946377  55.053623
1998        370.4  362.888928   7.511072
5126        407.4  390.287208  17.112792
808         316.1  382.470203 -66.370203
4034        393.2  434.334998 -41.134998

In [31]:
import piplite
await piplite.install('dmba')

from dmba import regressionSummary
#training
regressionSummary(train_results.TOTAL_VALUE, train_results.PREDICTED)

#Validation
regressionSummary(valid_results.TOTAL_VALUE, valid_results.PREDICTED)

Regression statistics

                      Mean Error (ME) : 0.0000
       Root Mean Squared Error (RMSE) : 43.0306
            Mean Absolute Error (MAE) : 32.6042
          Mean Percentage Error (MPE) : -1.1116
Mean Absolute Percentage Error (MAPE) : 8.4886

Regression statistics

                      Mean Error (ME) : -0.1463
       Root Mean Squared Error (RMSE) : 42.7292
            Mean Absolute Error (MAE) : 31.9663
          Mean Percentage Error (MPE) : -1.0884
Mean Absolute Percentage Error (MAPE) : 8.3283